* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Lato", sans-serif;
  font-family: "Poppins", sans-serif;
}

body {
  width: 100%;
  height: 100vh;
  overflow: hidden;
  padding: 10px;
  /* background: linear-gradient(
    to bottom,
    rgb(118, 233, 11) 0%,
    rgba(10, 42, 221, 0.934) 100%
  ); */
  background: #333;
  color: rgb(0, 0, 0);
}

.main-container {
  background: #fff;
  max-width: 450px;
  width: 100%;
  margin: 120px auto;
  padding: 30px;
}
header {
  font-size: 25px;
  font-weight: 600;
}
.main-container .inputField {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  margin-top: 10px;
  /* background: red; */
}
input {
  width: 90%;
  height: 100%;
  padding: 10px 20px;
  outline: none;
  border: 1px solid #ccc;
  font-size: 16px;
  border-radius: 20px;
}
i.fa-plus-circle {
  font-size: 30px;
  cursor: pointer;
}
i.fa-plus-circle:hover {
  color: rgb(4, 4, 32);
  opacity: 0.7;
}

/* TODO LIST */
.todoList {
  max-height: 250px;
  overflow-y: auto;
  margin: 20px 0;
}
li {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  border-radius: 3px;
  position: relative;
  background: #eaeaea;
  padding: 0 15px;
  height: 45px;
  line-height: 45px;
  margin-bottom: 8px;
}
li .fa-trash {
  cursor: pointer;
}
li .fa-trash:hover {
  color: red;
}
.footer {
  width: 100%;
  margin-top: 20px;
  /* background: red; */
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.footer button {
  background: blue;
  padding: 8px;
  border-radius: 3px;
  border: none;
  color: #fff;
  outline: 0;
  pointer-events: none;
}
.footer button .active {
  opacity: 1;
  pointer-events: auto;
}
